[user]
	name = Jesse Dailey
	email = jesse.dailey@gmail.com
[core]
	excludesFile = ~/.cvsignore
	askpass = /bin/echo
	whitespace = off
	editor = /usr/local/bin/vim
[advice]
	statusuoption = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	branches = branch -a
	tags = tag
	stashes = stash list
	unstage = reset -q HEAD --
	discard = checkout --
	uncommit = reset --mixed HEAD~
	amend = commit --amend
[push]
	default = matching
[color]
	ui = true
