[user]
	name = Jesse Dailey
	email = jesse.dailey@gmail.com
[core]
	excludesFile = ~/.cvsignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[push]
	default = matching
[color]
	ui = true
